textarea.error_area {
	box-shadow: 0 0 2px 3px var(--dark-red);
}
textarea.error_area:focus {
	box-shadow: 0 0 3px 4px var(--dark-red);
}

div.error_block {
	width: 100%;
	background-color: var(--dark-red);
	color: var(--light-grey);
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	font-size: 25px;
	border-radius: 6px;
}

div.error_input_block {
	background-color: var(--dark-red);
	color: var(--light-grey);
	padding: 5px;
	text-align: center;
	font-size: 25px;
	border-radius: 6px;
	margin: 0px 0 10px 0;
}

input.error_input {
	box-shadow: 0 0 2px 3px var(--dark-red);
}