.posts {
	margin-top: 30px;
	width: 100%;
	text-align: left;
} 

.post_item {
	margin-top: 30px;
	width: 70%;
	padding: 10px;
	border-radius: 6px;
	background-color: var(--light-red);
	font-size: 25px;
	color: var(--middle-grey);
	border: 1px solid var(--dark-grey);
	text-align: left;
}

.text_area_wrapper{

}

.block_posts {
	
}