 .wrapper {
 	width: 60%;
 	padding: 10px;
 	height: 600px;
 }

 .message {
	font-size: 25px;
	background-color: var(--middle-grey);
	padding: 10px;
	border-radius: 6px;
	max-width: 40%;
	margin-top: 10px;
	vertical-align: bottom;
 }
 .write_message {
 	width: 100%;
 	margin: 0 auto;
 	height: 100px;
 	resize: none;
 	padding: 10px;
 	font-size: 25px;
 	margin-top: 20px;
 	outline: none;
 	border-radius: 6px;
 	border: 2px solid var(--light-grey);
 	vertical-align: bottom;
 }
 .am {
	margin-right: 0;
	margin-left: auto;
 }

 .locutor {
 	margin-right: auto;
	margin-left: 0;
 }