.wrapper {
	width: 30%;
	overflow: hidden;
}
.dialog{
	font-size: 25px;
	line-height: 27px;
	padding: 10px;
	color: var(--light-red);
	border-radius: 6px;
	margin-bottom: 5px;
	display: block;
	text-decoration: none;
}

.dialog:hover {
	background-color: var(--light-red);
	color: var(--light-grey);
	transition: 0.3s;
}