 .wrapper {
 	width: 60%;
 	padding: 10px;
 	height: 600px;
 }

 .message {
	font-size: 25px;
	background-color: var(--light-red);
	padding: 10px;
	border-radius: 6px;
	max-width: 40%;
	margin-top: 10px;
	vertical-align: bottom;
 }
 .am {
	margin-right: 0;
	margin-left: auto;
 }

 .locutor {
 	margin-right: auto;
	margin-left: 0;
 }