*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	--middle-grey: rgb(47, 79, 79);
	--dark-red: rgb(0, 128, 128);
	--dark-grey: rgb(150, 150, 150);
	--light-red: rgb(102, 205, 170);
	--light-grey: rgb(47, 79, 79);
}

.standart_btn {
	outline:none;
	padding: 10px;
	font-size: 20px;
	background-color: white;
	color: var(--light-red);
	border-radius: 6px;
	border: 2px solid var(--light-red);
	font-weight: 500;
	margin-top: 15px;
	font-weight: bold;
}

.standart_btn:hover {
	box-shadow: 0 0 5px 3px var(--light-red);
}

.standart_btn:active {
	box-shadow: 0 0 3px 0 black;
	background-color: var(--light-red);
	color: var(--light-grey);
}
